html {
  height: 100%;
  box-sizing: border-box;
  margin-top: 0 !important;
}

body {
  background: $desert_storm;
  margin-left: 200px;
  font-family: $roboto;
  min-height: 100%;
  position: relative;
  padding-bottom: 400px;
  font-size: 14px;
  transition: all 300ms cubic-bezier(0.7,0,0.3,1);

  @media #{$mobile} {
    font-size: 12px;
  }

  @media #{$tablet} {
    font-size: 14px;
  }

  @media #{$tablet}, #{$mobile} {
    margin-left: 0;
  }
}

a {
  color: $armadillo;
  transition: all 300ms ease;
  text-decoration: none;

  &:hover, &:focus {
    color: $chicago;
    text-decoration: none;
  }

}

p {
  font-size: 1em;
  color: $armadillo;
  font-family: $roboto;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.title {
  @include title0;

  &-highlight {
    font-weight: bold;
    color: $red_orange;
  }

  &-line {
    &::after {
      display: block;
      content: '';
      width: 40px;
      height: 4px;
      background: $red_orange;
      margin-top: 20px;
    }
  }

  &-center {
    @include title_center();
  }
}




.title-uppercase {
  text-transform: uppercase;
}

h1 {
  @include title1;
}

h2 {
  @include title2;
}

h3 {
  @include title3;
}

h4 {
  @include title4;
}

h5 {
  @include title5;
  font-weight: normal;
}

h6 {
  @include title6;
}

.icon-red {
  fill: $red_orange;
}

.color-red {
  color: $red_orange;
}

.color-dark {
  color: $rollig_stone;
}

.color-grey {
  color: $armadillo;
}

.color-white {
  color: #fff;
}

.center-vertical {
  @include center-vertical;
}

.center_horizontal {
  @include center_horizontal;
}

label {
  @include title4;
  width: 100%;
  margin: 0;
  text-transform:capitalize
}

.input-container {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    border-bottom: 5px solid $dark_jungle_green;
    display: block;
    position: absolute;
    left: -100%;
  }

  &__error {
    opacity: 0;
    transition: all 300ms ease;
    
    &-show {
      opacity: 1;
    }
  }

}

input {
  background: $red_orange;
  border: 0;
  height: 60px;
  padding-left: 15px;
  color: #fff;
  outline: none;
  width: 100%;
  display: block;
  transition: all 300ms ease;
  @include title2;
}

.input-container {
  margin-bottom: 30px;
  
  select {
    background: $red_orange;
    height: 60px;
    width: 100%;
    color: #fff;
    display: block;
    transition: all 300ms ease;
    border: none;
  }
}

.button {
  @include title2;
  background: $red_orange;
  // min-width: 250px;
  min-height: 60px;
  border: 0;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: block;
  padding: 20px 40px;
  text-align: center;

  &::after {
    content: '';
    display: block;
    background: $dull_red;
    width: 100%;
    height: 69px;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: -1;
    transition: 300ms all ease-in-out;
  }

  &:hover {
    color: #fff;
    &::after {
      left: 0;
    }
  }

  &-special {
    @include title2;
    display: block;

    i {
      font-family: $roboto_condensed;
      font-size: 25px;
      font-style: italic;
      color: #4a4a4a;
      font-weight: 300;
    }

    path, polygon {
      fill:$armadillo;
      transition: all 300ms ease;
    }

    span {
      display: inline-block;
      overflow: hidden;
      position: relative;
      margin-left: 20px;
      padding-bottom: 20px;

      &::after {
        content: '';
        width: 100%;
        height: 5px;
        background: $red_orange;
        display: block;
        position: absolute;
        bottom: 0;
        left: -100%;
        transition: all 300ms ease;
      }

    }

    &:hover {

      path, polygon {
        fill: $red_orange;
      }

      span {
        color: $red_orange;
        &::after {
          left: 0px;
        }
      }

    }
  }
}

.highcharts-credits {
  display: none;
  opacity: 0;
}

.map svg #map-g g {
  cursor: pointer;
}

.select-country-header {
  -webkit-appearance: none;
  font-size: 24px;
  background: transparent;
  border: none;
  &:focus {
    box-shadow: 0;
    outline: none;
  }
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.wpb_content_element {
  margin-bottom: 0 !important;
}

.animate-path {
  
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#open-nav {
  display: none;
  text-align: right;
  float: right;
  margin: 40px 40px 0 0; 
  @media #{$mobile} {
    display: block;
  }

   &:hover {
     .icon-bar {
       margin-bottom: 6px;
      background: $red_orange;
     }
  }
}

.icon-bar {
  width: 40px;
  height: 5px;
  background: #1A2127;
  display: block;
  margin-bottom: 4px;
  transition: all 300ms ease;
 
}

