html {
  height: 100%;
  box-sizing: border-box;
  margin-top: 0 !important;
}

body {
  background: $desert_storm;
  margin-left: 200px;
  font-family: $roboto;
  min-height: 100%;
  position: relative;
  padding-bottom: 400px;
  font-size: 14px;
  transition: all 300ms cubic-bezier(0.7,0,0.3,1);

  @media #{$mobile} {
    font-size: 12px;
  }

  @media #{$tablet} {
    font-size: 14px;
  }

  @media #{$tablet}, #{$mobile} {
    margin-left: 0;
  }
}

a {
  color: $armadillo;
  transition: all 300ms ease;
  text-decoration: none;

  &:hover, &:focus {
    color: $chicago;
    text-decoration: none;
  }

}

p {
  font-size: 1em;
  color: $armadillo;
  font-family: $roboto;
}

li {
  list-style: none;
 
}

 .selected {
    background: yellow !important;
  }

a:hover {
  text-decoration: none;
}

.title {
  @include title0;

  &-highlight {
    font-weight: bold;
    color: $red_orange;
  }

  &-line {
    &::after {
      display: block;
      content: '';
      width: 40px;
      height: 4px;
      background: $red_orange;
      margin-top: 20px;
    }
  }

  &-center {
    @include title_center();
  }
}




.title-uppercase {
  text-transform: uppercase;
}

h1 {
  @include title1;
}

h2 {
  @include title2;
}

h3 {
  @include title3;
}

h4 {
  @include title4;
}

h5 {
  @include title5;
  font-weight: normal;
}

h6 {
  @include title6;
}

.button-dark {
  background: $dark_jungle_green !important;
  
  &::after {
    background: $outer_space !important;
  }
}

.icon-red {
  fill: $red_orange;
}

.color-red {
  color: $red_orange;
}

.color-dark {
  color: $rollig_stone;
}

.color-grey {
  color: $armadillo;
}

.color-white {
  color: #fff;
}

.center-vertical {
  @include center-vertical;
}

.center_horizontal {
  @include center_horizontal;
}

.button {
  background: $red_orange;
  min-height: 60px;
  border: 0;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: block;
  padding: 20px 40px;
  text-align: center;
  @include title2;

  &::after {
    content: '';
    display: block;
    background: $dull_red;
    width: 100%;
    height: 69px;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: -1;
    transition: 300ms all ease-in-out;
  }

  &:hover {
    color: #fff;
    &::after {
      left: 0;
    }
  }

  &-special {
    @include title2;
    display: block;

    i {
      font-family: $roboto_condensed;
      font-size: 25px;
      font-style: italic;
      color: #4a4a4a;
      font-weight: 300;
    }

    path, polygon {
      fill:$armadillo;
      transition: all 300ms ease;
    }

    span {
      display: inline-block;
      overflow: hidden;
      position: relative;
      margin-left: 20px;
      padding-bottom: 20px;

      &::after {
        content: '';
        width: 100%;
        height: 5px;
        background: $red_orange;
        display: block;
        position: absolute;
        bottom: 0;
        left: -100%;
        transition: all 300ms ease;
      }

    }

    &:hover {

      path, polygon {
        fill: $red_orange;
      }

      span {
        color: $red_orange;
        &::after {
          left: 0px;
        }
      }

    }
  }
}

.highcharts-credits {
  display: none;
  opacity: 0;
}

.map svg #map-g g {
  cursor: pointer;
}

.select-country-header {
  -webkit-appearance: none;
  font-size: 24px;
  background: transparent;
  border: none;
  &:focus {
    box-shadow: 0;
    outline: none;
  }
}


.wpb_content_element {
  margin-bottom: 0 !important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#open-nav {
  display: none;
  text-align: right;
  float: right;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 1005;

  @media #{$mobile}, #{$tablet} {
    display: block;
  }

  &.active {
    .icon-bar {
      &:first-child {
        transform: rotate(45deg);
        transform-origin: 50% 18%;
      }

      &:nth-child(2) {
      transform: rotate(-45deg);
      transform-origin: 10% 20%;
      }

      &:last-child {
        display: none;
      }
    }
  }

   &:hover {
     .icon-bar {
       margin-bottom: 6px;
      background: $red_orange;
     }
  }
}

.icon-bar {
  width: 40px;
  height: 5px;
  background: #1A2127;
  display: block;
  margin-bottom: 4px;
  transition: all 300ms ease;
 
}

a {
  polygon, path {
    fill: #fff;
  }
}

.link-bs {

    @include center-vertical;
    @include title4();
    text-align: center;
    position: relative;
    height: 80px;
    margin: 30px 0;
    padding: 10px 20px;
    min-width: 250px;
    max-width: 100%;
    color: #fff;
    transition: 300ms all ease;

    i {
      margin-left: 10px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 40%;
      border-bottom: 4px solid $red_orange;
      left: 20px;
      bottom: 0;
      transition: 300ms all ease;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 4px;
      width: 40%;
      border-bottom: 1px solid $red_orange;
      border-color: $red_orange;
      left: 20px;
      transition: 300ms all ease;
    }

    &:hover {
    color: #fff;
    
      svg {
        opacity: 1;
      }

      &::after {
        width: 90%;
      }
    }

    &__svg-third {
      position: absolute;
      right: 0;
      bottom: -12px;
    }

  svg {
    opacity: 0;
    transition: 400ms all ease;
     &:first-child {
      fill: '#333';
      position: absolute;
      left: 0;
      top: 0;
    }

    &:nth-child(2) {
      position: absolute;
      right: 0;
      top: 0;
    }

    &:nth-child(3) {
      position: absolute;
      right: 0;
      bottom: -12px;
    }

    &:last-child {
      position: absolute;
      left: 0;
      bottom: -12px;
    }
  }


}

@keyframes slideLeft {
  from {
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideRight {
  from {
    left: 0;
    transform: translate3d(0, 0, 0);
    
  }

  to {
    left: 0;
    transform: translate3d(100%, 0, 0);
  }
}


.home_header {
  position: relative;
  min-height: 500px;
  width: 100%;
  overflow: hidden;
  padding: 130px 0;
  
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    &--active {
      display: block;
    }
  }

  &__title {
    font-size: (85 / 16) * 1em;
    font-weight: 300;
    color: #fff;
    padding-right: 5em;
  }

  &__content {
    color: #fff;
    font-weight: 400;
    font-size: (24 / 16) * 1em;
  }

  &__contents {
    position: relative;
    overflow: hidden;
    width: 100%;

     > .active,
        > .next,
        > .prev {
          display: block;
        }
    
    li {
      display: none;
      position: relative;
      transition: all .6s ease-in-out;

      &.active.left {
        left: 0;
        transform: translate3d(-100%, 0, 0);
      }

      &.next.left,
      &.prev.right,
       {
        left: 0;
        transform: translate3d(100%, 0, 0);
      }

      &.active {
        left: 0;
         transform: translate3d(0, 0, 0);
      }

        
    }

  }

  &__paginate {
    a {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: #fff;
      &:hover {
        background: $red_orange;
      }
    }
  }

}