#download-report {
  padding: 120px 40px;

  h1 {
    padding-bottom: 60px;
  }

  .button-special {
    margin: 0 auto 60px auto;
    width: 100%;
    @media #{$desktop}, #{$desktop--large} {
      width: 400px;
    }
  }
  
}
