#footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;

  @media #{$mobile}, #{$tablet} {
    position: initial;
  }

  .menu {
    li {
        float: left;
        width: (100 / 5) * 1%;

    a {
          @include title5;
          color: $red_orange;
          display: block;
          margin-bottom: 15px;

          &:hover {
            color: $red_orange;
          }
        }
      }
}

}




.footer {

  &__top {
    background: $desert_storm;
    width: 100%;
    height: 270px;
  }

  &__bottom {
    width: 100%;
    background: #fff;
    height: 200px;
    

    &-left {
      @include center_vertical;
      text-align: center;
      float: left;

      img {
        margin: 0 auto;
        display: block;
      }
    }

    &-right {
      @include center_vertical;

      img {
        margin: 0 auto;
        display: block;
      }
    }
  }

   .sub-menu {
          padding: 0;

          a {
            @include title6;
            display: block;
            color: #fff;
            padding-bottom: 15px;
            font-weight: 300;
            position: relative;

            &:hover::before {
              left: -15px;
            }
            //
            // &::before {
            //   content: '+';
            //   color: $red_orange;
            //   font-size: 20px;
            //   font-weight: 300;
            //   padding-right: 10px;
            //   position: absolute;
            //   left: -50px;
            //   top: -5px;
            //   transition: left 300ms ease;
            // }
          }
        }

}
