#footer {
   @media #{$mobile} {
     text-align: center;
  }

  .menu {
    padding: 0;

    .menu-item  {
      float: left;
      width: (100 / 5) * 1%;

      @media #{$mobile} {
        display: block;
        float: none;
        width: 100%;
      }

      a {
          @include title5;
          color: $red_orange;
          display: block;
          margin-bottom: 15px;

          &:hover {
            color: $red_orange;
          }
        }

       .sub-menu {
          padding: 0;

          .menu-item  {
            width: 100%;
          }

        a {
            @include title6;
            display: block;
            color: $dark_jungle_green;
            padding-bottom: 15px;
            font-weight: 300;
            position: relative;

            &:hover::before {
              left: -15px;
            }
  
          }
        }
      }
}

}

.footer {

  &__top {
    background: lighten($gray_white, 2%);
    height: 600px;
    padding-top: 40px; 

    @media #{$mobile} {
      height: auto;
    }
    
    .nav__subtitle {
      padding: 0;
    }

  

  }

  &__bottom {
    background: #F7F7F7;
    height: 600px;
    padding-top: 80px;    

     @media #{$mobile} {
      height: auto;
    }

    &-left {

      img {
        display: block;
        float: left;
        margin-right: 20px;
        
        @media #{$mobile} {
          float: none;
          margin: 20px auto;
        }

      }
    }
    
    &-middle {
      margin-top: 20px;
      
      a {
        display: block;
        width: 100%;
        font-style: italic;
        font-size: (12 / 14) * 1em;
      }
    }

    &-right {

      img {
        float: right;
        display: block;
        @media #{$mobile} {
          float: none;
          margin: 20px auto;
        }
      }
    }
  }

 

}

.bs-logo {
  background: $gray_white;
  padding: 20px;
}
