.input-red {
  background: $red_orange;
  color: #fff;
}

.input-white {
  background: #fff;
  color: $red_orange;
}

input {
  @include title2;
  border: 0;
  height: 60px;
  padding-left: 15px;
  outline: none;
  width: 100%;
  display: block;
  transition: all 300ms ease;
  @extend .input-red;
}

label {
  @include title4;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.label-red {
  color: $red_orange;
}

.label-white {
  color: #fff;
}

form {
  button {
    float: right
  }
}

.input-container {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    border-bottom: 5px solid $dark_jungle_green;
    display: block;
    position: absolute;
    left: -100%;
  }

  &__error {
    opacity: 0;
    transition: all 300ms ease;
    
    &-show {
      opacity: 1;
    }
  }
  
  select {
    background: $red_orange;
    height: 60px;
    width: 100%;
    color: #fff;
    display: block;
    transition: all 300ms ease;
    border: none;
    @include title2;
  }

}


