.nav_mobile {
  display: none;
  float: left;
  width: 100%;

  @media #{$tablet}, #{$mobile} {
    display: block;
  }

  & > a {
    background: #fff;
    width: 120px;
    float: left;
    padding: 10px;
  }
  
  background: $desert_storm;

  &__subtitle {
    font-size: 1.5rem;
    padding: 5px 10px;
    float: left;

  }
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 1;
  background: $desert_storm;
  transition: all 300ms cubic-bezier(0.7,0,0.3,1);

  @media #{$tablet}, #{$mobile} {
    left: -80%;
    overflow: scroll;
    width: 80%;
  }

  &__logo {
    @include center-vertical;
    text-align: center;
    margin: 0 auto;

    @media #{$tablet}, #{$mobile} {
      display: none;
    }
    a {
      display: block;
      margin: 0 auto;
    }
    img {
      margin: 0 auto;
      padding: 30px;
    }
  }

  &__subtitle {
    padding: 40px 30px;
    color: $dark_jungle_green;
    
    @media #{$tablet}, #{$mobile} {
      display: none;
    }
  }

  .menu {
    padding: 0 30px;
    
    @media #{$tablet}, #{$mobile} { 
      padding: 30px;
    }

    & > li {
      height: 40px;
      & > a {
        @include title5;
        color: $outer_space;
        display: block;
        margin-bottom: 15px;
        text-transform: uppercase;
        
        &:hover {
          color: $red_orange;

        }
      }

      &:hover {
        height: auto;

        .sub-menu {
          display: block;
          opacity: 1;
          transform: skew(1);
          transition: all 500ms ease;
        }
      }

      .sub-menu {
        padding: 0;
        display: none;
        opacity: 0;
        transform: skew(0);

        a {
          @include title6;
          display: block;
          color: $outer_space;
          padding-bottom: 15px;
          font-weight: 300;
          position: relative;

          &:hover::before {
            left: -15px;
          }

          &::before {
            content: '+';
            color: $red_orange;
            font-size: 20px;
            font-weight: 300;
            padding-right: 10px;
            position: absolute;
            left: -50px;
            top: -5px;
            transition: left 300ms ease;
          }
        }
      }

    }
  }



}
