.select_country {
  background: RGBA(24, 30, 35, .9);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
  overflow: scroll;


  ul {
    padding: 0;

    li {
      transition: all 300ms ease;
      height: 40px;

      &:hover {
        background: RGBA(24, 30, 35, 1);
      }

      a {
        display: block;
        width: 100%;
        color: #fff;
        text-align: center;
        @include title3;
      }
    }
  }

  &__close {
    @include title2;
    color: #fff;
    display: block;
    text-align: right;
    color: $red_orange;
    margin: 30px 60px;
  }

}
