@mixin center_vertical() {
  display: table-cell; // ie9
  display: flex;
  flex-align: center;
  flex-pack: center;
  align-items: center;
}

@mixin center_horizontal {
  display: table-cell; // ie9
  display: flex;
  flex-align: baseline;
  align-items: baseline;
}
