/*!
 * BrandSpa (http://brandspa.com)
 * Alejandro Sanabria <alejandro@brandspa.com>
 * Copyright 2016 BrandSpa
 */
html {
  height: 100%;
  box-sizing: border-box;
  margin-top: 0 !important; }

body {
  background: #F8F8F8;
  margin-left: 200px;
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  position: relative;
  font-size: 14px;
  transition: margin 300ms cubic-bezier(0.7, 0, 0.3, 1);
  overflow-x: hidden; }
  @media (max-width: 767px) {
    body {
      font-size: 10px; } }
  @media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    body {
      margin-left: 0;
      padding-top: 60px; } }

.model-open {
  overflow: hidden; }

a {
  color: #4A4A4A;
  transition: all 300ms ease;
  text-decoration: none; }
  a:hover, a:focus {
    color: #5D5D5D;
    text-decoration: none; }

p {
  font-size: 1em;
  color: #4A4A4A;
  font-family: "Roboto", sans-serif; }

li {
  list-style: none; }

.selected {
  background: #747E86 !important;
  color: #fff !important; }

a:hover {
  text-decoration: none; }

.title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 5.3125em;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 20px; }
  .title-highlight {
    font-weight: bold;
    color: #FC3938; }
  .title-line::after {
    display: block;
    content: '';
    width: 40px;
    height: 4px;
    background: #FC3938;
    margin-top: 20px; }
  .title-center {
    text-align: center; }
    .title-center::after {
      margin: 20px auto; }

.title-uppercase {
  text-transform: uppercase; }

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.75em;
  font-weight: bold;
  line-height: 1; }

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.2; }

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.3; }

h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5625em;
  font-weight: normal;
  font-style: italic; }

h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25em;
  font-style: italic;
  font-weight: normal; }

h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.0625em;
  font-style: italic;
  line-height: 1.2; }

.button-dark {
  background: #1A2127 !important; }
  .button-dark::after {
    background: #2B3740 !important; }

.icon-red {
  fill: #FC3938; }

.color-red {
  color: #FC3938; }

.color-dark {
  color: #747E86; }

.color-grey {
  color: #4A4A4A; }

.color-white {
  color: #fff; }

.color-rolling-store {
  color: #747E86 !important; }

.bg-red {
  background: #FC3938 !important; }

.bg-discrimination {
  background: #FFC849 !important; }

.bg-dark_jungle {
  background: #1A2127 !important; }

.center-vertical {
  display: table;
  display: -ms-flexbox;
  display: flex;
  flex-align: center;
  flex-pack: center;
  -ms-flex-align: center;
  align-items: center; }

.center_horizontal {
  display: table;
  display: -ms-flexbox;
  display: flex;
  flex-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

button:focus {
  outline: none !important; }

.button {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.2;
  background: #FC3938;
  min-height: 60px;
  border: 0;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: block;
  padding: 10px 40px;
  text-align: center;
  line-height: 1;
  height: 40px;
  display: table;
  display: -ms-flexbox;
  display: flex;
  flex-align: center;
  flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .button--fill {
    width: 100%; }
  .button--center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .button:focus {
    color: #fff;
    outline: none; }
  .button::after {
    content: '';
    display: block;
    background: #C03B3B;
    width: 100%;
    height: 69px;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: -1;
    transition: 300ms all ease-in-out; }
  .button:hover {
    color: #fff; }
    .button:hover::after {
      left: 0; }
  .button-special {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 1.2;
    display: block; }
    .button-special i {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 25px;
      font-style: italic;
      color: #4a4a4a;
      font-weight: 300; }
    .button-special path, .button-special polygon {
      fill: #4A4A4A;
      transition: all 300ms ease; }
    .button-special span {
      display: inline-block;
      overflow: hidden;
      position: relative;
      margin-left: 20px;
      padding-bottom: 20px; }
      .button-special span::after {
        content: '';
        width: 100%;
        height: 5px;
        background: #FC3938;
        display: block;
        position: absolute;
        bottom: 0;
        left: -100%;
        transition: all 300ms ease; }
    .button-special:hover path, .button-special:hover polygon {
      fill: #FC3938; }
    .button-special:hover span {
      color: #FC3938; }
      .button-special:hover span::after {
        left: 0px; }

.highcharts-credits {
  display: none;
  opacity: 0; }

.map svg #map-g g {
  cursor: pointer; }

.select-country-header {
  -webkit-appearance: none;
  font-size: 24px;
  background: transparent;
  border: none; }
  .select-country-header:focus {
    box-shadow: 0;
    outline: none; }

.wpb_content_element {
  margin-bottom: 0 !important; }

.row {
  margin-left: 0;
  margin-right: 0; }

.icon-bar {
  width: 20px;
  height: 3px;
  background: #FC3938;
  display: block;
  margin-bottom: 4px;
  transition: all 300ms ease; }

a polygon, a path {
  fill: #fff; }

.link-bs {
  display: table;
  display: -ms-flexbox;
  display: flex;
  flex-align: center;
  flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5625em;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  position: relative;
  height: 60px;
  margin: 15px 0;
  padding: 10px 20px;
  min-width: 250px;
  max-width: 100%;
  color: #fff;
  transition: 300ms all ease; }
  @media (max-width: 767px) {
    .link-bs {
      margin: 0; } }
  .link-bs i {
    margin-left: 10px; }
  .link-bs::before {
    content: '';
    position: absolute;
    width: 20%;
    border-bottom: 4px solid #FC3938;
    left: 20px;
    bottom: 0;
    transition: 300ms all ease; }
  .link-bs::after {
    content: '';
    position: absolute;
    bottom: 4px;
    width: 20%;
    border-bottom: 1px solid #FC3938;
    border-color: #FC3938;
    left: 20px;
    transition: 300ms all ease; }
  .link-bs:hover {
    color: #fff; }
    .link-bs:hover svg {
      opacity: 1; }
    .link-bs:hover::after {
      width: 90%; }
  .link-bs__svg-third {
    position: absolute;
    right: 0;
    bottom: -12px; }
  .link-bs svg {
    opacity: 0;
    transition: 400ms all ease; }
    .link-bs svg:first-child {
      fill: '#333';
      position: absolute;
      left: 0;
      top: 0; }
    .link-bs svg:nth-child(2) {
      position: absolute;
      right: 0;
      top: 0; }
    .link-bs svg:nth-child(4) {
      position: absolute;
      right: 0;
      bottom: -12px; }
    .link-bs svg:last-child {
      position: absolute;
      left: 0;
      bottom: -12px; }

@keyframes slideLeft {
  from {
    left: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    left: 0;
    transform: translate3d(0, 0, 0); } }

@keyframes slideRight {
  from {
    left: 0;
    transform: translate3d(0, 0, 0); }
  to {
    left: 0;
    transform: translate3d(100%, 0, 0); } }

@keyframes fade {
  from {
    opacity: .8; }
  to {
    opacity: 1; } }

.home_header {
  position: relative;
  min-height: 500px;
  width: 100%;
  overflow: hidden;
  padding: 130px 0;
  padding-left: 8.33333%; }
  @media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
    .home_header {
      padding-top: 20px; } }
  @media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
    .home_header__content_right {
      float: right; } }
  .home_header__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    display: none;
    background-repeat: no-repeat; }
    .home_header__background--active {
      animation: fade 1s ease-in-out;
      display: block; }
  .home_header__title {
    font-size: 5.3125em;
    font-weight: 300;
    color: #fff;
    padding-bottom: 40px;
    margin-right: 8.33333%; }
    @media (max-width: 767px) {
      .home_header__title {
        font-size: 3.125em;
        padding-bottom: 10px; } }
    .home_header__title:after {
      content: '';
      padding-bottom: 50px;
      height: 5px;
      width: 20%;
      display: block;
      border-bottom: 5px solid #FC3938;
      margin-right: 8.33333%; }
      @media (max-width: 767px) {
        .home_header__title:after {
          font-size: 3.75em;
          padding-bottom: 10px; } }
  .home_header__content {
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
    margin-right: 8.33333%; }
    @media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
      .home_header__content {
        display: none; } }
  .home_header__contents {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 50px;
    margin-right: 8.33333%; }
    @media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
      .home_header__contents {
        padding-top: 0px; } }
    .home_header__contents ul {
      padding: 0;
      width: 300%;
      position: relative;
      left: 0;
      transition: all 400ms ease-in-out; }
    .home_header__contents > .active,
    .home_header__contents > .next,
    .home_header__contents > .prev {
      display: block; }
    .home_header__contents li {
      display: block;
      position: relative;
      transition: all 1s ease-in-out;
      float: left;
      width: 33.33333%; }
      .home_header__contents li.active.left {
        left: 0;
        transform: translate3d(-100%, 0, 0); }
      .home_header__contents li.next.left, .home_header__contents li.prev.right {
        left: 0;
        transform: translate3d(100%, 0, 0); }
      .home_header__contents li.active {
        display: block;
        left: 0;
        transform: translate3d(0, 0, 0); }
  .home_header__paginate a {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #fff; }
    .home_header__paginate a:hover, .home_header__paginate a.active {
      background: #FC3938; }

.bs_share {
  position: fixed;
  right: 0;
  width: 38px;
  top: 50%;
  bottom: 0;
  margin: auto;
  z-index: 10015; }
  .bs_share__fb a {
    width: 100%;
    height: 38px;
    background: #192127;
    display: table;
    display: -ms-flexbox;
    display: flex;
    flex-align: center;
    flex-pack: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .bs_share__tw a {
    width: 100%;
    height: 38px;
    background: #fff;
    display: table;
    display: -ms-flexbox;
    display: flex;
    flex-align: center;
    flex-pack: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    .bs_share__tw a path {
      fill: #1A2127 !important; }

#return-to-top {
  z-index: 10015;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease; }

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s ease; }

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9); }

#return-to-top:hover i {
  color: #fff;
  top: 5px; }

.input-red, input {
  background: #FC3938;
  color: #fff; }

.input-white {
  background: #fff;
  color: #FC3938; }

input {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.2;
  border: 0;
  height: 60px;
  padding-left: 15px;
  outline: none;
  width: 100%;
  display: block;
  transition: all 300ms ease; }

label {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5625em;
  font-weight: normal;
  font-style: italic;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 25px; }

.label-red {
  color: #FC3938; }

.label-white {
  color: #fff; }

form button {
  float: right; }

.input-container {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden; }
  .input-container::after {
    content: '';
    border-bottom: 5px solid #1A2127;
    display: block;
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 5px;
    transition: 300ms all ease; }
  .input-container:hover::after {
    left: 0; }
  .input-container input:focus .input-container::after {
    left: 0; }
  .input-container__error {
    opacity: 0;
    transition: all 300ms ease;
    color: #1A2127;
    font-weight: bold;
    font-style: italic; }
    .input-container__error-show {
      opacity: 1; }
  .input-container select {
    background: #FC3938;
    height: 60px;
    width: 100%;
    color: #fff;
    display: block;
    transition: all 300ms ease;
    border: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 1.2; }

/* Generated by Glyphter (http://www.glyphter.com) on  Mon Oct 10 2016*/
@font-face {
  font-family: 'Glyphter';
  src: url("../fonts/Glyphter.eot");
  src: url("../fonts/Glyphter.eot?#iefix") format("embedded-opentype"), url("../fonts/Glyphter.woff") format("woff"), url("../fonts/Glyphter.ttf") format("truetype"), url("../fonts/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal; }

[class*='icon-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-area:before {
  content: '\0041'; }

.icon-population:before {
  content: '\0042'; }

.icon-political_system:before {
  content: '\0043'; }

.icon-major_languages:before {
  content: '\0044'; }

.vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner {
  padding-top: 0; }

.vc_column_container > .vc_column-inner {
  overflow: hidden; }

.nav_mobile {
  display: none;
  float: left;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1005;
  height: 60px;
  background: #F8F8F8; }
  @media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .nav_mobile {
      display: block; } }
  .nav_mobile__logo {
    background: #fff;
    width: 120px;
    float: left;
    padding: 10px;
    height: 60px; }
  .nav_mobile__subtitle {
    font-size: 1.5rem;
    padding: 5px 10px;
    float: left; }

#open-nav {
  display: none;
  text-align: right;
  float: right;
  margin: 20px; }
  @media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
    #open-nav {
      display: block; } }
  #open-nav.active .icon-bar:first-child {
    transform: rotate(45deg);
    transform-origin: 50% 18%; }
  #open-nav.active .icon-bar:nth-child(2) {
    transform: rotate(-45deg);
    transform-origin: -3px -1px; }
  #open-nav.active .icon-bar:last-child {
    display: none; }
  #open-nav:hover .icon-bar {
    margin-bottom: 6px;
    background: #FC3938; }

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 1;
  background: #E8E8E8;
  transition: all 300ms cubic-bezier(0.7, 0, 0.3, 1); }
  @media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .nav {
      left: -80%;
      overflow: scroll;
      width: 80%;
      background: #fff; } }
  .nav__logo {
    display: table;
    display: -ms-flexbox;
    display: flex;
    flex-align: center;
    flex-pack: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    overflow: hidden; }
    @media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .nav__logo {
        display: none; } }
    .nav__logo a {
      display: block;
      margin: 0 auto; }
    .nav__logo img {
      margin: 0 auto;
      padding: 30px; }
  .nav__subtitle {
    padding: 40px 30px;
    color: #1A2127;
    font-style: normal; }
    .nav__subtitle span {
      font-weight: bold; }
  .nav .menu {
    padding: 0 30px; }
    .nav .menu > li > a {
      cursor: pointer;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.25em;
      font-style: italic;
      color: #2B3740;
      display: block;
      margin-bottom: 15px;
      text-transform: uppercase; }
      .nav .menu > li > a:hover {
        color: #FC3938; }
    .nav .menu > li .sub-menu {
      display: none;
      padding: 0;
      opacity: 0;
      transform: skew(0); }
      .nav .menu > li .sub-menu--open {
        display: block;
        opacity: 1;
        transform: skew(1);
        transition: all 500ms ease; }
      .nav .menu > li .sub-menu a {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1.0625em;
        font-style: italic;
        line-height: 1.2;
        display: block;
        color: #2B3740;
        padding-bottom: 15px;
        font-weight: 300;
        position: relative; }
        .nav .menu > li .sub-menu a:hover::before {
          left: -15px; }
        .nav .menu > li .sub-menu a::before {
          content: '+';
          color: #FC3938;
          font-size: 20px;
          font-weight: 300;
          padding-right: 10px;
          position: absolute;
          left: -50px;
          top: -5px;
          transition: left 300ms ease; }

@media (max-width: 767px) {
  #footer {
    text-align: center; } }

#footer .menu {
  padding: 0; }
  #footer .menu .menu-item {
    float: left;
    width: 20%; }
    @media (max-width: 767px) {
      #footer .menu .menu-item {
        display: block;
        float: none;
        width: 100%; } }
    #footer .menu .menu-item a {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.25em;
      font-style: italic;
      color: #FC3938;
      display: block;
      margin-bottom: 10px; }
      #footer .menu .menu-item a:hover {
        color: #FC3938; }
    #footer .menu .menu-item .sub-menu {
      padding: 0; }
      #footer .menu .menu-item .sub-menu .menu-item {
        width: 100%; }
      #footer .menu .menu-item .sub-menu a {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1.0625em;
        font-style: italic;
        line-height: 1.2;
        display: block;
        color: #1A2127;
        padding-bottom: 7px;
        font-weight: 300;
        position: relative; }
        #footer .menu .menu-item .sub-menu a:hover::before {
          left: -15px; }

.footer__top {
  background: #ededed;
  height: 400px;
  padding-top: 40px; }
  @media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
    .footer__top {
      height: auto;
      float: left;
      padding-bottom: 40px; } }
  .footer__top .nav__subtitle {
    padding: 0; }

.footer__bottom {
  background: #F7F7F7;
  height: 400px;
  padding-top: 80px; }
  @media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
    .footer__bottom {
      height: auto;
      float: left;
      padding-bottom: 40px; } }
  .footer__bottom-left img {
    display: block;
    float: left;
    margin-right: 20px; }
    @media (max-width: 767px) {
      .footer__bottom-left img {
        float: none;
        margin: 20px auto; } }
  .footer__bottom-middle {
    margin-top: 20px; }
    .footer__bottom-middle a {
      display: block;
      width: 100%;
      font-style: italic;
      font-size: 0.85714em; }
  .footer__bottom-right img {
    float: right;
    display: block; }
    @media (max-width: 767px) {
      .footer__bottom-right img {
        float: none;
        margin: 20px auto; } }

.bs-logo {
  background: #E8E8E8;
  padding: 20px; }
  @media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
    .bs-logo {
      width: 100%;
      float: left; } }

.report__header {
  padding: 60px 40px; }
  @media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .report__header {
      text-align: center; } }
  .report__header__back-map {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.25em;
    font-style: italic;
    width: 100%;
    display: block; }
  .report__header__slider_year {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5625em;
    font-weight: normal;
    font-style: italic;
    color: #FC3938; }
    .report__header__slider_year a {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.5625em;
      font-weight: normal;
      font-style: italic;
      color: #FC3938;
      font-size: 1em; }
      .report__header__slider_year a:first-child {
        padding-right: 40px; }
      .report__header__slider_year a:last-child {
        padding-left: 40px; }
  .report__header__map {
    padding-top: 40px; }
    @media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .report__header__map {
        margin: 0 auto; } }

.report__content-header {
  padding: 100px 40px; }
  @media (max-width: 767px) {
    .report__content-header {
      padding: 20px; } }
  .report__content-header h1 {
    margin: 0; }

.report__header_pdf {
  display: table;
  display: -ms-flexbox;
  display: flex;
  flex-align: center;
  flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px 0;
  min-height: 100px;
  height: 100px;
  border-top: 4px solid #FC3938;
  border-bottom: 2px solid #FC3938;
  float: left;
  width: 100%; }
  .report__header_pdf__download img {
    padding-right: 10px; }
  .report__header_pdf__item {
    display: table;
    display: -ms-flexbox;
    display: flex;
    flex-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
    .report__header_pdf__item h5 {
      padding-right: 7px; }
    .report__header_pdf__item p {
      padding-left: 7px; }

.report__content {
  background: #fff; }
  .report__content:nth-child(2n) {
    background: #F8F8F8; }
  .report__content-content {
    padding: 0 0 100px 0;
    overflow: hidden; }
    @media (max-width: 767px) {
      .report__content-content {
        padding: 40px; } }
    .report__content-content h5 {
      color: #FC3938; }
  .report__content h2::after {
    display: block;
    content: '';
    width: 30px;
    height: 4px;
    background: #FC3938;
    margin-top: 20px; }

.report__icon-info {
  text-align: center;
  height: 200px; }
  .report__icon-info img {
    text-align: center;
    margin-bottom: 15px; }

.anchor-to-content {
  color: #FC3938;
  font-size: 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 30px; }

.map {
  background: #2B3740;
  padding: 40px;
  position: relative;
  float: left;
  width: 100%; }
  .map__controllers {
    opacity: 0;
    transition: all 300ms ease; }
    @media (max-width: 767px), (min-width: 768px) and (max-width: 991px) {
      .map__controllers {
        float: right;
        margin: 15px 0 0 0; } }
    .map__controllers--show {
      opacity: 1; }
    .map__controllers button {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.5625em;
      font-weight: normal;
      font-style: italic;
      float: right; }
  .map h1 {
    font-weight: bold; }
    .map h1 p {
      color: #FC3938; }
  .map svg {
    display: block;
    margin: 40px auto;
    width: 100%; }
    @media (max-width: 767px) {
      .map svg {
        height: auto !important; } }
  .map__info {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5625em;
    font-weight: normal;
    font-style: italic;
    display: table;
    display: -ms-flexbox;
    display: flex;
    flex-align: center;
    flex-pack: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border: 1px solid #1A2127;
    color: #1A2127;
    width: 250px;
    padding: 20px;
    height: 40px;
    position: absolute;
    opacity: 0;
    transition: all 100ms ease;
    z-index: 100; }
    .map__info_situation {
      display: table;
      display: -ms-flexbox;
      display: flex;
      flex-align: center;
      flex-pack: center;
      -ms-flex-align: center;
      align-items: center;
      width: 40px;
      height: 40px;
      right: 0;
      top: 0;
      background: #1A2127;
      position: absolute;
      text-align: center; }
      .map__info_situation img {
        margin: 0 auto; }
  .map__search_input {
    background: #1A2127; }
    .map__search_input-container {
      position: relative; }
      .map__search_input-container::before {
        content: "\f4a5";
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        right: 15px;
        top: 5px;
        font-family: "Ionicons";
        color: #fff;
        font-size: 32px; }
  .map__search_results {
    width: 100%;
    padding: 0;
    display: block; }
    .map__search_results li {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.5625em;
      font-weight: normal;
      font-style: italic;
      display: table;
      display: -ms-flexbox;
      display: flex;
      flex-align: center;
      flex-pack: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 1.4375em;
      position: relative;
      background: #fff;
      border: 1px solid #1A2127;
      color: #1A2127;
      width: 100%;
      padding: 20px;
      height: 40px;
      margin: 2px 0;
      overflow: hidden;
      transition: all 300ms ease-in-out; }
      .map__search_results li a {
        color: #1A2127; }
      .map__search_results li span {
        display: table;
        display: -ms-flexbox;
        display: flex;
        flex-align: center;
        flex-pack: center;
        -ms-flex-align: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: #1A2127;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center; }
        .map__search_results li span img {
          margin: 0 auto; }

.map_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  .map_list h5 {
    margin-top: 0; }

.map_list_exp {
  padding: 0; }
  .map_list_exp li {
    float: left;
    color: #fff;
    padding-left: 15px; }
    .map_list_exp li img {
      padding-right: 10px; }

.map__search, .map__search_list {
  background: RGBA(43, 55, 64, 0.9);
  width: 91%;
  height: 100%;
  position: fixed;
  z-index: 999999;
  overflow-y: scroll;
  transition: all 300ms ease;
  top: -100%;
  opacity: 0; }
  @media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .map__search, .map__search_list {
      width: 100%; } }
  .map__search--show, .map__search_list--show {
    top: 0;
    opacity: 1; }
    @media (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .map__search--show, .map__search_list--show {
        top: 60px; } }
  .map__search h1, .map__search_list h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin: 60px auto; }
  .map__search h5, .map__search_list h5 {
    margin-bottom: 30px; }
  .map__search__list, .map__search_list__list {
    float: left;
    padding: 0;
    width: 100%; }
    .map__search__list li, .map__search_list__list li {
      float: none;
      color: #fff;
      height: 30px; }
      .map__search__list li img, .map__search_list__list li img {
        margin-right: 15px; }

.map__search__close {
  color: #FC3938;
  font-size: 32px;
  display: block;
  float: left;
  margin: 40px; }

.map__search_click {
  position: relative;
  background: #1A2127;
  width: 100%; }
  .map__search_click::before {
    content: "\f4a5";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 15px;
    top: 12px;
    font-family: "Ionicons";
    color: #fff;
    font-size: 32px; }

.map__search__list_btn {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5625em;
  font-weight: normal;
  font-style: italic;
  display: table;
  display: -ms-flexbox;
  display: flex;
  flex-align: center;
  flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: #747E86;
  position: relative;
  background: #fff;
  border: 1px solid #1A2127;
  color: #1A2127;
  width: 100%;
  padding-left: 20px;
  height: 40px;
  margin: 2px 0;
  overflow: hidden;
  transition: all 300ms ease-in-out; }

#download-report {
  padding: 120px 40px;
  float: left;
  width: 100%; }
  #download-report h1 {
    padding-bottom: 60px; }
  #download-report .button-special {
    margin: 0 auto 60px auto;
    width: 100%; }
    @media (min-width: 992px) and (max-width: 1199px), (min-width: 1200px) {
      #download-report .button-special {
        width: 400px; } }

.select_country {
  background: RGBA(24, 30, 35, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
  overflow-y: scroll;
  transition: all 300ms ease;
  top: -100%;
  opacity: 0; }
  .select_country-show {
    top: 0;
    opacity: 1; }
  .select_country ul {
    padding: 0;
    margin-top: 80px; }
    .select_country ul li {
      transition: all 300ms ease;
      height: 40px;
      padding-top: 5px; }
      .select_country ul li:hover {
        background: RGBA(24, 30, 35, 1); }
      .select_country ul li a {
        display: block;
        width: 100%;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-size: 1.5em;
        font-weight: 500;
        line-height: 1.3; }
        .select_country ul li a:hover {
          color: #FC3938; }
  .select_country__close {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    display: block;
    position: fixed;
    text-align: center;
    color: #FC3938;
    margin: 30px 60px; }

.bs-modal {
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
  height: auto;
  max-width: 630px;
  min-width: 320px;
  z-index: 2000;
  transition: all 300ms;
  visibility: hidden; }
  .bs-modal__close {
    font-size: 32px;
    position: absolute;
    left: 20px;
    top: 10px; }
  .bs-modal__content {
    background: #F8F8F8;
    padding: 40px;
    opacity: 0;
    transform: scale(0);
    transition: all 300ms ease;
    position: relative; }
  .bs-modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: RGBA(24, 30, 35, 0.9);
    z-index: 1999;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease; }
    .bs-modal__overlay-open {
      visibility: visible;
      opacity: 1; }
    .bs-modal__overlay-close {
      visibility: hidden;
      opacity: 0; }
  .bs-modal-open {
    visibility: visible; }
    .bs-modal-open .bs-modal__content {
      opacity: 1;
      transform: scale(1); }
  .bs-modal-close {
    visibility: hidden; }
    .bs-modal-close .bs-modal__content {
      opacity: 0;
      transform: scale(0); }
